# This user config file is for Administrative purposes only


_USTN_PROJECTNAME 		=
MS_DGNLIBLIST 			= 
MS_GUIDGNLIBLIST		> $(_USTN_USER)*.dgnlib
_USTN_DISPLAYALLCFGVARS		= 1
MS_PLTDLG_ENABLE_SAVE_CONFIG	= 1
MS_VBA_OPEN_IN_MEMORY		= NONE
_USTN_USERINTNAME = default
TF_NOCOMPATIBILITYWARNING = 1
